* {padding: 0; margin: 0}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#main {
	padding-top: 30px;
	display: grid;
	width: 75%;
	grid-auto-columns: minmax(25%, auto);
}

#triggerButton {
	white-space: normal;
}

#hoverDrop1:hover .dropdown-menu {display: block;}
#hoverDrop2:hover .dropdown-menu {display: block;}

footer {
	display: grid;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	background-color: #f5f5f5;
	text-align: center;	
	border-top: 2px outset #bcc4c6; 
	margin-top: 10px;
}
